<!doctype html>
<html> 
<head>
<meta charset="utf-8">
<link rel="shorcut icon" href="../img/favicon.png" />
<style type="text/css">
#slider table tbody tr td h1 {
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}
</style> 
<!--Icono de la pagina-->
<title>Productos</title>
</head>
<body style="margin: 0;">
<!--	Barra de navegacion-->
	<div id="navbar" style="background-color: blueviolet; margin: auto; height: 80px; width: 100%" align="center">
	  <table width="100%" border="0" align="center" style="color: aliceblue">
	    <tbody>
	      <tr style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'">
	        <td width="40%" height="73" align="left" valign="middle"><img src="../img/logo.png" width="191" height="67" alt=""/></td>
	        <td width="10%" align="center" valign="middle"><a href="../index.html" style="text-decoration: none; color: aliceblue">INICIO</a></td>
	        <td width="10%" align="center" valign="middle"><a href="productos.html" style="text-decoration: none; color: aliceblue">PRODUCTOS</a></td>
	        <td width="10%" align="center" valign="middle"><a href="servicios.html" style="text-decoration: none; color: aliceblue">SERVICIOS</a></td>
	        <td width="10%" align="center" valign="middle"><a href="contactos.html" style="text-decoration: none; color: aliceblue">CONTACTOS</a></td>
          </tr>
        </tbody>
      </table>
	</div>
<!--	Slider-->
	<div id="slider" style="background-image: url('../img/about-us-image.jpg'); margin: auto; height: 750px" align="center">
	  <table width="100%" height="100%" border="0" align="center">
	    <tbody>
	      <tr>
	        <td width="50%" align="left" valign="top" style="background-color: whitesmoke; opacity: 0.9; color: blueviolet">
				<h1 style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 50px; margin: 30px">DESCUBRE MÁS SOBRE NOSOTROS</h1>
				<p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 20px; text-align: justify; margin: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quos.</p>
			  </td>
	        <td width="50%" align="center" valign="middle">
			</td>
          </tr>
        </tbody>
      </table>  
		
	</div>
<!--	Contenido-->
	<div id="content" style="background-color: azure;background-image: url('../img/services-left.jpg'); margin: auto; height: 770px" align="center">
		<table height="100%" width="100%" border="0" align="center">
	    <tbody>
          <tr>
            <td width="50%" rowspan="3" align="center" valign="top">
            </td>
	          <td colspan="2" align="center" valign="middle" height="50px">
				  <h1 style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: blueviolet; font-size: 35px ;padding: 20px">SERVICIOS Y PRODUCTOS</h1>
			  </td>
          </tr>
          <tr>
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
          </tr>
	      <tr style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: blueviolet; font-size: 30px ;padding: 20px">
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
          </tr>
        </tbody>
      </table>
	</div>
<!--	Pie de Página-->
	<div id="footer" style="background-color:cornflowerblue; margin: auto; height: 200px" align="center">
		<img src="../img/footer.png" width="100%">
	</div>
</body>
</html>
