<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shorcut icon" href="../img/favicon.png" /> <!--Icono de la pagina-->
<title>Servicios</title>
</head>
<body style="margin: 0;">
<!--	Barra de navegacion-->
	<div id="navbar" style="background-color: blueviolet; margin: auto; height: 80px; width: 100%" align="center">
	  <table width="100%" border="0" align="center" style="color: aliceblue">
	    <tbody>
	      <tr style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'">
	        <td width="40%" height="73" align="left" valign="middle"><img src="../img/logo.png" width="191" height="67" alt=""/></td>
	        <td width="10%" align="center" valign="middle"><a href="../index.html" style="text-decoration: none; color: aliceblue">INICIO</a></td>
	        <td width="10%" align="center" valign="middle"><a href="productos.html" style="text-decoration: none; color: aliceblue">PRODUCTOS</a></td>
	        <td width="10%" align="center" valign="middle"><a href="servicios.html" style="text-decoration: none; color: aliceblue">SERVICIOS</a></td>
	        <td width="10%" align="center" valign="middle"><a href="contactos.html" style="text-decoration: none; color: aliceblue">CONTACTOS</a></td>
          </tr>
        </tbody>
      </table>
	</div>
<!--	Slider-->
	<div id="content" style="background-color: azure;background-image: url('../img/services-left.jpg'); margin: auto; height: 770px" align="center">
	  <table height="100%" width="100%" border="0" align="center">
	    <tbody>
          <tr>
            <td width="50%" rowspan="3" align="center" valign="top">
            </td>
	          <td colspan="2" align="center" valign="middle" height="50px">
				  <h1 style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: blueviolet; font-size: 35px ;padding: 20px">SERVICIOS Y PRODUCTOS</h1>
			  </td>
          </tr>
          <tr>
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
          </tr>
	      <tr style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: blueviolet; font-size: 30px ;padding: 20px">
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
	        <td width="25%" align="center" valign="middle" style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: aliceblue; font-size: 30px ;padding: 20px">
				<p style="background-color: blueviolet; border-radius: 20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veritatis?
				</p>
			</td>
          </tr>
        </tbody>
      </table>
	</div>
<!--	Contenido-->
	<div id="video" style="background-color: blueviolet; margin: auto; height: 770px" align="center">
		<table width="100%" border="0" height="100%">
  <tbody>
    <tr>
      <td width="50%">
		  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vbvyNnw8Qjg?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</td>
      <td width="50%" valign="top">
		  <h1 style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: whitesmoke; font-size: 35px ;padding: 20px">Información Detallada de Que Hacemos y Quienes Somos</h1>
		  <hr width="50%">
		  <p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: whitesmoke; font-size: 20px ;padding: 20px">
			  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, minima.
		  </p>
		  <p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: whitesmoke; font-size: 20px ;padding: 20px">
			  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, minima.
		  </p>
		  <p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: whitesmoke; font-size: 20px ;padding: 20px">
			  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, minima.
		  </p>
		  <p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: whitesmoke; font-size: 20px ;padding: 20px">
			  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, minima.
		  </p>
		</td>
    </tr>
  </tbody>
</table>

	</div>
	
<!--	Pie de Página-->
	<div id="footer" style="background-color:cornflowerblue; margin: auto; height: 200px" align="center">
		<img src="../img/footer.png" width="100%">
	</div>s
</body>
</html>
